*{
    font-family: "Trebuchet MS";
}

body{
    background-color: lightgray;
}

.outer{
    height: 90vh;
    width: 800px;
    background-color: darkgrey;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner{
    width: 50%;
    height: 80%;
    background-color:darkolivegreen;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding-top: 50px;
}

.search input{
    width: 200px;
    height: 30px;
    padding: 0 10px;
    border-radius: 7px;
}

.search button{
    height: 32px;
    width: 90px;
    border: 2px solid black;
}

.image{
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image img{
    height: 70%;
    width: 70%;
}